@import "../../../styles/variables";

.loginPage {
 width: 95%;
 margin: auto;

 h2 {
   font-size: 1.25rem;
   text-align: center;
 }

 form {
  width: auto;
  padding: 1.5rem 3rem;
  border-radius: 6px;
  background-color: $bg-mid;

   label {
     display: block;
     margin-top: 1.375rem;
     font-size: 1rem;
     color: $light;
   }

   input {
     width: 100%;
     padding: .5rem 1rem;
     border-radius: 6px;
     border: none;
   }

   button {
     margin-top: 1.875rem;
     padding: .5rem 0;
     width: 100%;
     border: none;
     border-radius: 6px;
     background-color: $accent;
     color: $light;
     font-weight: 700;
   }
 }

 p {
   text-align: center;
 }
 
}