@import "../../styles/variables";

.login {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  h1 {
    text-align: center;
    color: $pale-primary-heading;
    font-size: 1.563rem;
    font-weight: 400;
  }

  form {
    width: 100%;
    padding: 0 8.125%;

    label {
      display: block;
      margin-top: .5rem;
      margin-bottom: 2px;
    }

    input {
      width: 100%;
      border: none;
      border-radius: 3px;
      padding: .313rem;
      background-color: $pale-primary-text;
    }

    button {
      display: block;
      width: 100%;
      margin-top: 1.5rem;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.5rem 0;
      color: $light;
      background-color: $accent;
      border: none;
      border-radius: 5px;
    }
  }

  & > main > p {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: $pale-primary-heading;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
    color: $pale-primary-text;
    font-weight: 500;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}