@import "../../styles/variables";

.mobileMenu {
  width: 100%;
  text-align: end;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.menuToggle {
  color: $pale-primary-heading;
  font-size: 1rem;
  position: sticky;
  top: .365rem;
  right: .365rem;
}