$bg-dark: #3D1E52;
$bg-mid: #50266C;
$bg-light: #624277;
$bg-light-pale: #D8BDEA;
$bg-banner: #5b3b71;

$border-pale: #846499;

$accent: #CA4748;
$success: #32A065;
$danger: #C23E61;

$btn-hover: #7C40A5;

$light: #EAE0F0;
$pale-primary-text: #EAE0F0;
$pale-primary-heading: #cfc2d8;