@import "../../styles/variables";

.building {
  margin-top: 1.375rem;
  padding: 0 6.25vw;

  h2 {
    margin-bottom: .563rem;
    color: $pale-primary-heading;
    font-size: 1.125rem;
    font-weight: 500;
    border-bottom: 1.5px solid $border-pale;
  }

  ul {
    list-style-type: none;
  }
}