@import "../../styles/variables";

.room {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  gap: .313rem;

  .toggleIcon {
    margin-top: .5rem;
    align-self: flex-start;
    background-color: transparent;
    border: none;
    color: $pale-primary-text;
    font-size: .8rem;
  }

  .roomData {
    flex-basis: 100%;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: .313rem;
    background-color: $bg-mid;

    &Heading {
      padding: .25rem .5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    &Body {
      padding: .25rem .5rem .75rem .5rem;
      background-color: $bg-light;
      
      span {
        font-weight: 500;
        color: $bg-light-pale;
      }
    }

    .success {
      display: inline-block;
      width: 21px;
      height: 21px;
      color: $success;
    }
  }
}

